{{! //Something }}
{{#each data as |post|}}

  <div class="row justify-content-center mt-5">
    <div
      class="card border-dark mb-3 col w-50"
      style="max-width: 50rem;"
      id="post-card"
    >
      <div class="card-header text-center">{{post.title}}</div>
      <div class="card-body text-dark">
        <p class="card-text text-center">{{post.post_text}}</p>
      </div>
    </div>
  </div>

{{/each}}